@import './../../common/styles/vars';
@import './../../common/styles/templates';

:root {
  font-size: 16px;
}

.themeButton {
  position: fixed;
  top: 3px;
  left: 3px;
}

.containerLight,
.containerDark {
  @extend %containerSets;
}

.mainContainerDataDark,
.mainContainerDataLight {
  @extend %mainContainerSets;

  @media screen and (max-width: 1000px) {
    width: 95%;
  }
}

.mainContainerDataLight {
  border-radius: 20px 20px 0px 0px;
  background: radial-gradient(
    circle at 50% 30%,
    rgb(194, 235, 248),
    rgb(19, 101, 116)
  );
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
    inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px,
    0px 5px 10px rgba(35, 75, 206, 0.548);
}

.mainContainerDataDark {
  border-radius: 10px 55px;
  background: radial-gradient(circle at 50% 0, grey, black);
  box-shadow: inset rgba(0, 0, 0, 0.6) 0 -3px 8px,
    inset rgba(252, 255, 255, 0.7) 0 3px 8px, rgba(0, 0, 0, 0.8) 0 3px 8px -3px,
    0px 5px 10px rgba(114, 4, 4, 0.548);
}

.containerLight {
  background: rgb(198, 248, 241);
}

.containerDark {
  background: rgb(79, 81, 94);
}

.headerLight,
.headerDark {
  @extend %headerSets;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
}

.headerLight {
  color: rgb(253, 253, 253);
  text-shadow: $lightTextShadow;
}

.headerDark {
  text-shadow: $darkTextShadow;
}

.itemsContainer {
  @extend %itemsContainerSets;

  @media screen and (max-width: 800px) {
    width: 97%;
  }
  @media screen and (max-width: 680px) {
    font-size: 14px;
    width: 98%;
  }
}

.inputData {
  margin-bottom: 30px;
  position: relative;
  width: 55%;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1050px) {
    width: 75%;
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
    width: 85%;
  }
}

.selectItem {
  @extend %selectItemSets;

  @media screen and (max-width: 850px) {
    width: 50%;
    margin: 0 auto 30px;
  }
}

.listItemLight,
.listItemDark {
  @extend %listItemSets;

  & > div {
    @extend %listItemTextSets;
  }

  & > button {
    margin: 0 5px 0 auto;
  }
}

.listItemLight:hover,
.listItemDark:hover {
  cursor: pointer;
}

.listItemLight:hover {
  background: $hoverBackLight;
}

.listItemDark:hover {
  background: $hoverBackDark;
}

.listItemLight {
  background: $lightBack;
  border: 2px outset rgb(28, 122, 102);
  border-radius: 10px 10px 1px 1px;

  & > div {
    background-color: rgb(8, 19, 16);
    text-shadow: rgba(90, 233, 199, 0.808) 0px 3px 3px;
  }
}

.listItemDark {
  background: $darkBack;
  border: 2px double rgb(253, 253, 253);
  border-radius: 2px 10px;

  & > div {
    background-color: #161414;
    text-shadow: rgba(141, 136, 136, 0.904) 0px 3px 3px;
  }
}

.textContainer {
  display: flex;
  width: 80%;
  justify-content: flex-start;

  & > div:first-child {
    width: 62%;
    margin-left: 80px;
  }
  & > div:nth-child(even) {
    width: 35%;
    margin-left: 120px;
    background-clip: text;
    color: transparent;
    background-color: #380909;
    text-shadow: rgba(255, 186, 186, 0.904) 0px 3px 3px;
  }

  @media screen and (max-width: 750px) {
    padding-left: 10px;
    width: 90%;

    & > div:first-child {
      margin: 0px;
    }
    & > div:nth-child(even) {
      margin-left: 100px;
    }
  }

  @media screen and (max-width: 480px) {
    flex-direction: column;
    padding-left: 10px;
    width: 90%;

    & > div:first-child {
      margin: 0px;
      width: 98%;
    }
    & > div:nth-child(even) {
      margin: 0px;
      width: 98%;
    }
  }
}
